* {
    /* resetando algumas configurações dos browser*/
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    /*Configurações do menu*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 5rem;
    background-color: black;
}

.logo {
    /*se tivesse texto <h1></h1>*/
    color: white;
}

.navbar ul {
    /*Configurando a propriedade lista do menu*/
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar ul li {
    /*Configurando os links e titulos do menu*/
    margin: 0 15px;
}

.navbar ul a {
    /*Configurando os links e titulos do menu*/
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.navbar ul a:hover {
    /*Configurando os links e titulos do menu*/
    color: wheat;
}

.fuchsia {
    /*Configurando o 'botão' de login*/
    background-color: fuchsia;
    padding: 10px 20px;
    border-radius: 10px;
}

.menu-icon {
    /*Configurando o 'botão' de login*/
    display: none;
    cursor: pointer;
}

.menu-icon img {
    /*Configurando o 'botão' de menu mobile*/
    width: 30px;
}

@media(max-width:768px) {

    .navbar ul {
        position: absolute;
        background-color: black;
        top: 78px;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 100%;
        transition: 0.3s;
    }

    .navbar ul.open {
        left: 0;
    }

    .navbar ul li {
        margin: 5px 0;
    }

    .menu-icon {
        display: block;
    }
}